body {
    text-align:center;
    background-color: black;
}

#gameCanvas{
    border: 5px solid lightskyblue;
}

h2 {
    color: greenyellow;
}
.gameToggles{
    margin: 0px;
    
}
.active {
    display: block;
}
.inactive {
    display: none;
}
.dropbtn {
    background-color: rgb(26, 156, 226);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: fixed;
    float: left;
    padding: 0px 0px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(26, 156, 226);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: rgb(40, 90, 230)}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgb(36, 126, 206);
}